graph-cpu-visible=true
graph-cpu-tooltip-style=1
graph-mem-visible=true
graph-mem-tooltip-style=1
graph-net-visible=true
graph-swap-visible=false
graph-load-visible=false
graph-disk-visible=true
graph-temp-visible=false
graph-parm-visible=false
