button-title=Apps
button-icon=archlinux-icon-crystal
button-single-row=true
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=2
menu-width=500
menu-height=700
