[General]
Show_Title=false
Show_Labels=false
Use_Bar_UI=2
Show_Colored_Bars=true
Scale=0
Font_Size=medium
Font_Size_Numerical=2
Lines_Size=1
Update_Interval=1
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=1
Suppress_Hddtemp_Message=false
Preferred_Width=533
Preferred_Height=658
